LOG_LEVEL=WARNING

WANDB_API_KEY=<your-api-key>
HF_TOKEN=<your-api-key>

HF_HOME=./outputs/hf
HF_HUB_CACHE=./outputs/hf/hub
HF_DATASETS_CACHE=./outputs/hf/datasets
HF_ASSETS_CACHE=./outputs/hf/assets

WANDB_DIR=./outputs/wandb
WANDB_ARTIFACT_DIR=./outputs/wandb/artifacts
WANDB_CACHE_DIR=./outputs/wandb/cache
WANDB_DATA_DIR=./outputs/wandb/data
WANDB_CONFIG_DIR=./outputs/wandb/config

